# Read and write /data/misc/netmgr
type_transition netmgrd system_data_file:file netmgrd_data_file "log.txt";
userdebug_or_eng(`
  allow netmgrd netmgr_data_file:dir rw_dir_perms;
  allow netmgrd netmgr_data_file:file create_file_perms;
')
